In [1]:


import pandas as pd

# Specify file path
file_path = r"C:\Users\USER\Documents\Sales_Data\Superstore.csv"

# Load the data into a DataFrame
#df = pd.read_csv(file_path)
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Print the first 5 rows
print(df.head())

# Print the shape of the DataFrame (rows, columns)
print(df.shape)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
(9994, 21)

In [3]:
# Check the data type of the variables of the dataset
print( " These are the data types of the variables:")
df.dtypes

 These are the data types of the variables:

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [5]:
# Check if there is a copletely empty rows in the dataset
completely_empty_rows = df[df.isnull( ).all(axis = 1)]
if not completely_empty_rows.empty:
    print("Number of completely empty rows:{len(completely_empty_rows)}")
else:
    print("No row is completely empty")

No row is completely empty

In [7]:
# Check if there is a duplicated rows
duplicated_rows = df[df.duplicated( )]
if not duplicated_rows.empty:
    print(f"Number of duplicated rows:{len(duplicated_rows)}")
    print("Duplicated rows are:")
    print(duplicated_rows)
else:
    print("There is no duplicate rows:")

There is no duplicate rows:

In [212]:
# Examine the dataset for missing values(NaN)
missing_values = df.isna().sum()
print(f"These are the variables and their amount of missing values:")
print(missing_values)

These are the variables and their amount of missing values:
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
#                                            Column by column analysis.

In [9]:
# Ship mode column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Ship Mode"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Second Class' 'Standard Class' 'First Class' 'Same Day']

In [41]:
# Segment column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Segment"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Consumer' 'Corporate' 'Home Office']

In [43]:
# Country column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Country"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['United States']

In [119]:
# City column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["City"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Henderson' 'Los Angeles' 'Fort Lauderdale' 'Concord' 'Seattle'
 'Fort Worth' 'Madison' 'West Jordan' 'San Francisco' 'Fremont'
 'Philadelphia' 'Orem' 'Houston' 'Richardson' 'Naperville' 'Melbourne'
 'Eagan' 'Westland' 'Dover' 'New Albany' 'New York City' 'Troy' 'Chicago'
 'Gilbert' 'Springfield' 'Jackson' 'Memphis' 'Decatur' 'Durham' 'Columbia'
 'Rochester' 'Minneapolis' 'Portland' 'Saint Paul' 'Aurora' 'Charlotte'
 'Orland Park' 'Urbandale' 'Columbus' 'Bristol' 'Wilmington' 'Bloomington'
 'Phoenix' 'Roseville' 'Independence' 'Pasadena' 'Newark' 'Franklin'
 'Scottsdale' 'San Jose' 'Edmond' 'Carlsbad' 'San Antonio' 'Monroe'
 'Fairfield' 'Grand Prairie' 'Redlands' 'Hamilton' 'Westfield' 'Akron'
 'Denver' 'Dallas' 'Whittier' 'Saginaw' 'Medina' 'Dublin' 'Detroit'
 'Tampa' 'Santa Clara' 'Lakeville' 'San Diego' 'Brentwood' 'Chapel Hill'
 'Morristown' 'Cincinnati' 'Inglewood' 'Tamarac' 'Colorado Springs'
 'Belleville' 'Taylor' 'Lakewood' 'Arlington' 'Arvada' 'Hackensack'
 'Saint Petersburg' 'Long Beach' 'Hesperia' 'Murfreesboro' 'Layton'
 'Austin' 'Lowell' 'Manchester' 'Harlingen' 'Tucson' 'Quincy'
 'Pembroke Pines' 'Des Moines' 'Peoria' 'Las Vegas' 'Warwick' 'Miami'
 'Huntington Beach' 'Richmond' 'Louisville' 'Lawrence' 'Canton'
 'New Rochelle' 'Gastonia' 'Jacksonville' 'Auburn' 'Norman' 'Park Ridge'
 'Amarillo' 'Lindenhurst' 'Huntsville' 'Fayetteville' 'Costa Mesa'
 'Parker' 'Atlanta' 'Gladstone' 'Great Falls' 'Lakeland' 'Montgomery'
 'Mesa' 'Green Bay' 'Anaheim' 'Marysville' 'Salem' 'Laredo' 'Grove City'
 'Dearborn' 'Warner Robins' 'Vallejo' 'Mission Viejo' 'Rochester Hills'
 'Plainfield' 'Sierra Vista' 'Vancouver' 'Cleveland' 'Tyler' 'Burlington'
 'Waynesboro' 'Chester' 'Cary' 'Palm Coast' 'Mount Vernon' 'Hialeah'
 'Oceanside' 'Evanston' 'Trenton' 'Cottage Grove' 'Bossier City'
 'Lancaster' 'Asheville' 'Lake Elsinore' 'Omaha' 'Edmonds' 'Santa Ana'
 'Milwaukee' 'Florence' 'Lorain' 'Linden' 'Salinas' 'New Brunswick'
 'Garland' 'Norwich' 'Alexandria' 'Toledo' 'Farmington' 'Riverside'
 'Torrance' 'Round Rock' 'Boca Raton' 'Virginia Beach' 'Murrieta'
 'Olympia' 'Washington' 'Jefferson City' 'Saint Peters' 'Rockford'
 'Brownsville' 'Yonkers' 'Oakland' 'Clinton' 'Encinitas' 'Roswell'
 'Jonesboro' 'Antioch' 'Homestead' 'La Porte' 'Lansing' 'Cuyahoga Falls'
 'Reno' 'Harrisonburg' 'Escondido' 'Royal Oak' 'Rockville' 'Coral Springs'
 'Buffalo' 'Boynton Beach' 'Gulfport' 'Fresno' 'Greenville' 'Macon'
 'Cedar Rapids' 'Providence' 'Pueblo' 'Deltona' 'Murray' 'Middletown'
 'Freeport' 'Pico Rivera' 'Provo' 'Pleasant Grove' 'Smyrna' 'Parma'
 'Mobile' 'New Bedford' 'Irving' 'Vineland' 'Glendale' 'Niagara Falls'
 'Thomasville' 'Westminster' 'Coppell' 'Pomona' 'North Las Vegas'
 'Allentown' 'Tempe' 'Laguna Niguel' 'Bridgeton' 'Everett' 'Watertown'
 'Appleton' 'Bellevue' 'Allen' 'El Paso' 'Grapevine' 'Carrollton' 'Kent'
 'Lafayette' 'Tigard' 'Skokie' 'Plano' 'Suffolk' 'Indianapolis' 'Bayonne'
 'Greensboro' 'Baltimore' 'Kenosha' 'Olathe' 'Tulsa' 'Redmond' 'Raleigh'
 'Muskogee' 'Meriden' 'Bowling Green' 'South Bend' 'Spokane' 'Keller'
 'Port Orange' 'Medford' 'Charlottesville' 'Missoula' 'Apopka' 'Reading'
 'Broomfield' 'Paterson' 'Oklahoma City' 'Chesapeake' 'Lubbock'
 'Johnson City' 'San Bernardino' 'Leominster' 'Bozeman' 'Perth Amboy'
 'Ontario' 'Rancho Cucamonga' 'Moorhead' 'Mesquite' 'Stockton'
 'Ormond Beach' 'Sunnyvale' 'York' 'College Station' 'Saint Louis'
 'Manteca' 'San Angelo' 'Salt Lake City' 'Knoxville' 'Little Rock'
 'Lincoln Park' 'Marion' 'Littleton' 'Bangor' 'Southaven' 'New Castle'
 'Midland' 'Sioux Falls' 'Fort Collins' 'Clarksville' 'Sacramento'
 'Thousand Oaks' 'Malden' 'Holyoke' 'Albuquerque' 'Sparks' 'Coachella'
 'Elmhurst' 'Passaic' 'North Charleston' 'Newport News' 'Jamestown'
 'Mishawaka' 'La Quinta' 'Tallahassee' 'Nashville' 'Bellingham'
 'Woodstock' 'Haltom City' 'Wheeling' 'Summerville' 'Hot Springs'
 'Englewood' 'Las Cruces' 'Hoover' 'Frisco' 'Vacaville' 'Waukesha'
 'Bakersfield' 'Pompano Beach' 'Corpus Christi' 'Redondo Beach' 'Orlando'
 'Orange' 'Lake Charles' 'Highland Park' 'Hempstead' 'Noblesville'
 'Apple Valley' 'Mount Pleasant' 'Sterling Heights' 'Eau Claire' 'Pharr'
 'Billings' 'Gresham' 'Chattanooga' 'Meridian' 'Bolingbrook' 'Maple Grove'
 'Woodland' 'Missouri City' 'Pearland' 'San Mateo' 'Grand Rapids'
 'Visalia' 'Overland Park' 'Temecula' 'Yucaipa' 'Revere' 'Conroe'
 'Tinley Park' 'Dubuque' 'Dearborn Heights' 'Santa Fe' 'Hickory'
 'Carol Stream' 'Saint Cloud' 'North Miami' 'Plantation'
 'Port Saint Lucie' 'Rock Hill' 'Odessa' 'West Allis' 'Chula Vista'
 'Manhattan' 'Altoona' 'Thornton' 'Champaign' 'Texarkana' 'Edinburg'
 'Baytown' 'Greenwood' 'Woonsocket' 'Superior' 'Bedford' 'Covington'
 'Broken Arrow' 'Miramar' 'Hollywood' 'Deer Park' 'Wichita' 'Mcallen'
 'Iowa City' 'Boise' 'Cranston' 'Port Arthur' 'Citrus Heights'
 'The Colony' 'Daytona Beach' 'Bullhead City' 'Portage' 'Fargo' 'Elkhart'
 'San Gabriel' 'Margate' 'Sandy Springs' 'Mentor' 'Lawton' 'Hampton'
 'Rome' 'La Crosse' 'Lewiston' 'Hattiesburg' 'Danville' 'Logan'
 'Waterbury' 'Athens' 'Avondale' 'Marietta' 'Yuma' 'Wausau' 'Pasco'
 'Oak Park' 'Pensacola' 'League City' 'Gaithersburg' 'Lehi' 'Tuscaloosa'
 'Moreno Valley' 'Georgetown' 'Loveland' 'Chandler' 'Helena' 'Kirkwood'
 'Waco' 'Frankfort' 'Bethlehem' 'Grand Island' 'Woodbury' 'Rogers'
 'Clovis' 'Jupiter' 'Santa Barbara' 'Cedar Hill' 'Norfolk' 'Draper'
 'Ann Arbor' 'La Mesa' 'Pocatello' 'Holland' 'Milford' 'Buffalo Grove'
 'Lake Forest' 'Redding' 'Chico' 'Utica' 'Conway' 'Cheyenne' 'Owensboro'
 'Caldwell' 'Kenner' 'Nashua' 'Bartlett' 'Redwood City' 'Lebanon'
 'Santa Maria' 'Des Plaines' 'Longview' 'Hendersonville' 'Waterloo'
 'Cambridge' 'Palatine' 'Beverly' 'Eugene' 'Oxnard' 'Renton' 'Glenview'
 'Delray Beach' 'Commerce City' 'Texas City' 'Wilson' 'Rio Rancho'
 'Goldsboro' 'Montebello' 'El Cajon' 'Beaumont' 'West Palm Beach'
 'Abilene' 'Normal' 'Saint Charles' 'Camarillo' 'Hillsboro' 'Burbank'
 'Modesto' 'Garden City' 'Atlantic City' 'Longmont' 'Davis' 'Morgan Hill'
 'Clifton' 'Sheboygan' 'East Point' 'Rapid City' 'Andover' 'Kissimmee'
 'Shelton' 'Danbury' 'Sanford' 'San Marcos' 'Greeley' 'Mansfield' 'Elyria'
 'Twin Falls' 'Coral Gables' 'Romeoville' 'Marlborough' 'Laurel' 'Bryan'
 'Pine Bluff' 'Aberdeen' 'Hagerstown' 'East Orange' 'Arlington Heights'
 'Oswego' 'Coon Rapids' 'San Clemente' 'San Luis Obispo' 'Springdale'
 'Lodi' 'Mason']

In [121]:
# State column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["State"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Kentucky' 'California' 'Florida' 'North Carolina' 'Washington' 'Texas'
 'Wisconsin' 'Utah' 'Nebraska' 'Pennsylvania' 'Illinois' 'Minnesota'
 'Michigan' 'Delaware' 'Indiana' 'New York' 'Arizona' 'Virginia'
 'Tennessee' 'Alabama' 'South Carolina' 'Oregon' 'Colorado' 'Iowa' 'Ohio'
 'Missouri' 'Oklahoma' 'New Mexico' 'Louisiana' 'Connecticut' 'New Jersey'
 'Massachusetts' 'Georgia' 'Nevada' 'Rhode Island' 'Mississippi'
 'Arkansas' 'Montana' 'New Hampshire' 'Maryland' 'District of Columbia'
 'Kansas' 'Vermont' 'Maine' 'South Dakota' 'Idaho' 'North Dakota'
 'Wyoming' 'West Virginia']

In [123]:
# Category column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Category"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Furniture' 'Office Supplies' 'Technology']

In [125]:
# Sub_Category column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Sub-Category"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

In [127]:
# Order Date column Analysis
# Examine the distinct values to check if there is leading or trailing spaces.
unique_values = df["Order Date"].unique()
print( f"Distinct values are:")
print(unique_values)

Distinct values are:
['11/8/2016' '6/12/2016' '10/11/2015' ... '6/3/2016' '4/12/2015'
 '1/21/2014']

In [ ]:
#                                                      feature Engineering

In [11]:
# Drop ship date(work with order date) and customer name columns,
df = df.drop(columns=["Ship Date", "Customer Name"])

In [13]:
print(df.head())
print(df.shape)

   Row ID        Order ID  Order Date       Ship Mode Customer ID    Segment  \
0       1  CA-2016-152156   11/8/2016    Second Class    CG-12520   Consumer
1       2  CA-2016-152156   11/8/2016    Second Class    CG-12520   Consumer
2       3  CA-2016-138688   6/12/2016    Second Class    DV-13045  Corporate
3       4  US-2015-108966  10/11/2015  Standard Class    SO-20335   Consumer
4       5  US-2015-108966  10/11/2015  Standard Class    SO-20335   Consumer

         Country             City       State  Postal Code Region  \
0  United States        Henderson    Kentucky        42420  South
1  United States        Henderson    Kentucky        42420  South
2  United States      Los Angeles  California        90036   West
3  United States  Fort Lauderdale     Florida        33311  South
4  United States  Fort Lauderdale     Florida        33311  South

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
(9994, 19)

In [15]:
# convert order date to datetype so as to extract, day, month and year columns
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

In [17]:
# extract day, month and year columns
df['Day'] = df['Order Date'].dt.day
df['Month'] = df['Order Date'].dt.month              # <-- Numeric month (1–12)
df['Month Name'] = df['Order Date'].dt.month_name()  # <-- Full month name
df['Year'] = df['Order Date'].dt.year

In [19]:
# view the dataframe to see if they have been added.
print(df.head())
print(df.shape)

   Row ID        Order ID Order Date       Ship Mode Customer ID    Segment  \
0       1  CA-2016-152156 2016-11-08    Second Class    CG-12520   Consumer
1       2  CA-2016-152156 2016-11-08    Second Class    CG-12520   Consumer
2       3  CA-2016-138688 2016-06-12    Second Class    DV-13045  Corporate
3       4  US-2015-108966 2015-10-11  Standard Class    SO-20335   Consumer
4       5  US-2015-108966 2015-10-11  Standard Class    SO-20335   Consumer

         Country             City       State  Postal Code  ... Sub-Category  \
0  United States        Henderson    Kentucky        42420  ...    Bookcases
1  United States        Henderson    Kentucky        42420  ...       Chairs
2  United States      Los Angeles  California        90036  ...       Labels
3  United States  Fort Lauderdale     Florida        33311  ...       Tables
4  United States  Fort Lauderdale     Florida        33311  ...      Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2

  Discount    Profit  Day  Month  Month Name  Year
0     0.00   41.9136    8     11    November  2016
1     0.00  219.5820    8     11    November  2016
2     0.00    6.8714   12      6        June  2016
3     0.45 -383.0310   11     10     October  2015
4     0.20    2.5164   11     10     October  2015

[5 rows x 23 columns]
(9994, 23)

In [21]:
# Generate a mapping of 'Ship Mode' to a unique ID
ship_mode_mapping = {ship_mode: idx for idx, ship_mode in enumerate(df['Ship Mode'].unique(), 1)}

# Apply this mapping to create a new 'Ship Mode ID' column
df['Ship Mode ID'] = df['Ship Mode'].map(ship_mode_mapping)

# Check the result
print(df[['Ship Mode', 'Ship Mode ID']].head())

        Ship Mode  Ship Mode ID
0    Second Class             1
1    Second Class             1
2    Second Class             1
3  Standard Class             2
4  Standard Class             2

In [23]:
# Create a unique combination of the columns; Country, City, State, and Region
df['Geo Combination'] = df['Country'] + " | " + df['City'] + " | " + df['State'] + " | " + df['Region']

# Generate Geo ID using factorize (this will create unique IDs based on the unique Geo combinations)
df['Geo ID'] = pd.factorize(df['Geo Combination'])[0] + 1  # Start IDs from 1

# Check the result
print(df[['Country', 'City', 'State', 'Region', 'Geo ID']].head())

         Country             City       State Region  Geo ID
0  United States        Henderson    Kentucky  South       1
1  United States        Henderson    Kentucky  South       1
2  United States      Los Angeles  California   West       2
3  United States  Fort Lauderdale     Florida  South       3
4  United States  Fort Lauderdale     Florida  South       3

In [25]:
df.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,...,Quantity,Discount,Profit,Day,Month,Month Name,Year,Ship Mode ID,Geo Combination,Geo ID
0,1,CA-2016-152156,2016-11-08,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,...,2,0.00,41.9136,8,11,November,2016,1,United States | Henderson | Kentucky | South,1
1,2,CA-2016-152156,2016-11-08,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,...,3,0.00,219.5820,8,11,November,2016,1,United States | Henderson | Kentucky | South,1
2,3,CA-2016-138688,2016-06-12,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036,...,2,0.00,6.8714,12,6,June,2016,1,United States | Los Angeles | California | West,2
3,4,US-2015-108966,2015-10-11,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,...,5,0.45,-383.0310,11,10,October,2015,2,United States | Fort Lauderdale | Florida | South,3
4,5,US-2015-108966,2015-10-11,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,...,2,0.20,2.5164,11,10,October,2015,2,United States | Fort Lauderdale | Florida | South,3

In [27]:
# Drop the 'Geo Combination' column
df = df.drop(columns=['Geo Combination'])

In [29]:
#                                  Save the prepared and cleaned dataset as a csv to document.
df.to_csv(r"C:\Users\USER\Documents\Cleaned_Sales_data2.csv", index=False)

In [31]:
# Import the saved dataset for fact and dimensins table creation so as to be able to form one-to-many relationship.

# Specify file path
import pandas as pd
file_path = r"C:\Users\USER\Documents\Cleaned_Sales_data2.csv"

# Load the data into a DataFrame
df = pd.read_csv(file_path)
#df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Print the first 5 rows
print(df.head())

   Row ID        Order ID  Order Date       Ship Mode Customer ID    Segment  \
0       1  CA-2016-152156  2016-11-08    Second Class    CG-12520   Consumer
1       2  CA-2016-152156  2016-11-08    Second Class    CG-12520   Consumer
2       3  CA-2016-138688  2016-06-12    Second Class    DV-13045  Corporate
3       4  US-2015-108966  2015-10-11  Standard Class    SO-20335   Consumer
4       5  US-2015-108966  2015-10-11  Standard Class    SO-20335   Consumer

         Country             City       State  Postal Code  ...     Sales  \
0  United States        Henderson    Kentucky        42420  ...  261.9600
1  United States        Henderson    Kentucky        42420  ...  731.9400
2  United States      Los Angeles  California        90036  ...   14.6200
3  United States  Fort Lauderdale     Florida        33311  ...  957.5775
4  United States  Fort Lauderdale     Florida        33311  ...   22.3680

  Quantity Discount    Profit Day  Month  Month Name  Year  Ship Mode ID  \
0        2     0.00   41.9136   8     11    November  2016             1
1        3     0.00  219.5820   8     11    November  2016             1
2        2     0.00    6.8714  12      6        June  2016             1
3        5     0.45 -383.0310  11     10     October  2015             2
4        2     0.20    2.5164  11     10     October  2015             2

   Geo ID
0       1
1       1
2       2
3       3
4       3

[5 rows x 25 columns]

In [85]:
df.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,...,Sales,Quantity,Discount,Profit,Day,Month,Month Name,Year,Ship Mode ID,Geo ID
0,1,CA-2016-152156,2016-11-08,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,...,261.9600,2,0.00,41.9136,8,11,November,2016,1,1
1,2,CA-2016-152156,2016-11-08,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,...,731.9400,3,0.00,219.5820,8,11,November,2016,1,1
2,3,CA-2016-138688,2016-06-12,Second Class,DV-13045,Corporate,United States,Los Angeles,California,West,...,14.6200,2,0.00,6.8714,12,6,June,2016,1,2
3,4,US-2015-108966,2015-10-11,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,...,957.5775,5,0.45,-383.0310,11,10,October,2015,2,3
4,5,US-2015-108966,2015-10-11,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,...,22.3680,2,0.20,2.5164,11,10,October,2015,2,3

In [87]:
#     fact table creation.
# Create the fact table with all specified columns
fact_table = df[['Order ID', 'Order Date', 'Customer ID', 'Product ID',
                 'Ship Mode ID', 'Geo ID', 'Sales', 'Quantity', 'Discount', 'Profit']].copy()

# Preview the fact table
print(fact_table.head())

         Order ID  Order Date Customer ID       Product ID  Ship Mode ID  \
0  CA-2016-152156  2016-11-08    CG-12520  FUR-BO-10001798             1
1  CA-2016-152156  2016-11-08    CG-12520  FUR-CH-10000454             1
2  CA-2016-138688  2016-06-12    DV-13045  OFF-LA-10000240             1
3  US-2015-108966  2015-10-11    SO-20335  FUR-TA-10000577             2
4  US-2015-108966  2015-10-11    SO-20335  OFF-ST-10000760             2

   Geo ID     Sales  Quantity  Discount    Profit
0       1  261.9600         2      0.00   41.9136
1       1  731.9400         3      0.00  219.5820
2       2   14.6200         2      0.00    6.8714
3       3  957.5775         5      0.45 -383.0310
4       3   22.3680         2      0.20    2.5164

In [89]:
# Save the fact table as csv to document
fact_table.to_csv(r'C:\Users\USER\Documents\fact_sales.csv', index=False)

In [99]:
# Create ship mode dimension  table with all specified column.

Dim_ship = df[['Ship Mode ID', 'Ship Mode']].copy()
Dim_ship = Dim_ship.drop_duplicates(subset='Ship Mode ID')
print(Dim_ship['Ship Mode ID'].value_counts())

# Preview the created ship mode dimension table
print(Dim_ship.head())
#  Save it as csv to document
Dim_ship.to_csv(r'C:\Users\USER\Documents\Dim_ship.csv', index=False)

Ship Mode ID
1    1
2    1
3    1
4    1
Name: count, dtype: int64
     Ship Mode ID       Ship Mode
0               1    Second Class
3               2  Standard Class
35              3     First Class
366             4        Same Day

In [101]:
# create customer dimension table
Dim_customer = df[['Customer ID', 'Segment']].copy()
Dim_customer = Dim_customer.drop_duplicates(subset='Customer ID')

print(Dim_customer['Customer ID'].value_counts())

# Preview the fact table
print(Dim_customer.head())
# Save it as csv file
Dim_customer.to_csv(r'C:\Users\USER\Documents\Dim_customer.csv', index=False)

Customer ID
SM-20905    1
CG-12520    1
DV-13045    1
SO-20335    1
BH-11710    1
           ..
EH-13945    1
EB-13870    1
SF-20065    1
KB-16585    1
ZD-21925    1
Name: count, Length: 793, dtype: int64
   Customer ID    Segment
0     CG-12520   Consumer
2     DV-13045  Corporate
3     SO-20335   Consumer
5     BH-11710   Consumer
12    AA-10480   Consumer

In [35]:
# create geography dimension table
Dim_geography = df[['Geo ID', 'Postal Code', 'Country', 'Region', 'State', 'City']].copy()

Dim_geography = Dim_geography.drop_duplicates(subset='Geo ID')

print(Dim_geography['Geo ID'].value_counts())

# Preview the fact table
print(Dim_geography.head())
# save it as csv
Dim_geography.to_csv(r'C:\Users\USER\Documents\Dim_geography.csv', index=False)

Geo ID
604    1
1      1
2      1
3      1
4      1
      ..
17     1
16     1
15     1
14     1
13     1
Name: count, Length: 604, dtype: int64
    Geo ID  Postal Code        Country Region           State             City
0        1        42420  United States  South        Kentucky        Henderson
2        2        90036  United States   West      California      Los Angeles
3        3        33311  United States  South         Florida  Fort Lauderdale
12       4        28027  United States  South  North Carolina          Concord
13       5        98103  United States   West      Washington          Seattle

In [105]:
# create product dimension table
Dim_product = df[['Product ID', 'Category', 'Sub-Category', 'Product Name']].copy()

Dim_product = Dim_product.drop_duplicates(subset='Product ID')

print(Dim_product['Product ID'].value_counts())

# Preview the table
print(Dim_product.head())
# save it as csv file.
Dim_product.to_csv(r'C:\Users\USER\Documents\Dim_product.csv', index=False)

Product ID
OFF-ST-10001627    1
FUR-BO-10001798    1
FUR-CH-10000454    1
OFF-LA-10000240    1
FUR-TA-10000577    1
                  ..
FUR-TA-10001539    1
OFF-AP-10002892    1
OFF-BI-10003910    1
TEC-PH-10002275    1
OFF-AR-10002833    1
Name: count, Length: 1862, dtype: int64
        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name
0                  Bush Somerset Collection Bookcase
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2  Self-Adhesive Address Labels for Typewriters b...
3      Bretford CR4500 Series Slim Rectangular Table
4                     Eldon Fold 'N Roll Cart System

In [107]:
# create time dimension table
Dim_Date = df[['Order Date', 'Day', 'Month', 'Month Name', 'Year']].copy()

Dim_Date = Dim_Date.drop_duplicates(subset='Order Date')

print(Dim_Date['Order Date'].value_counts())

# Preview the table
print(Dim_Date.head())
# save it as csv file.
Dim_Date.to_csv(r'C:\Users\USER\Documents\Dim_Date.csv', index=False)

Order Date
2014-01-21    1
2016-11-08    1
2016-06-12    1
2015-10-11    1
2014-06-09    1
             ..
2014-08-27    1
2014-05-13    1
2014-11-11    1
2015-11-22    1
2016-12-05    1
Name: count, Length: 1237, dtype: int64
    Order Date  Day  Month Month Name  Year
0   2016-11-08    8     11   November  2016
2   2016-06-12   12      6       June  2016
3   2015-10-11   11     10    October  2015
5   2014-06-09    9      6       June  2014
12  2017-04-15   15      4      April  2017